*{
    margin:0;
    overflow-x: hidden;
    padding:0;
    box-sizing: border-box;

}
h4{
    font-size: large;
    font-weight: 500;
}
p{
    font-weight: 300;
    font-size: x-large;
    color:#0e0d0d;
    font-family:'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color:rgb(248, 250, 251);
}
.main-heading{
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
    border: 1px solid rgba(219, 216, 211, 0.842);

}
.subscribe{
    color:#888888;
    position: absolute;
    padding-left: 35px;
    left: 0;
}
.nav-bar ul{
    list-style: none;
    color:black
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.banner{
    position:relative;
    color:white;
    width: 100%;
    height: 0;
    padding-top: calc(700/1920*100%);
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    
}
.article_content{
    position: absolute;
    top: 50%;
    left: 30%;
    transform:translate(-50%,-50%);
}

.Title{

    background: linear-gradient(90deg, #e3080fb0 0%, #FFC837 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family:'Times New Roman', Times, serif;
    font-size: xxx-large;
    font-weight:bold;
    font-style:italic;
    padding-top: 20px;
    padding: 20px;
    

}


.sub{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    color:rgb(88, 86, 86);
    line-height: 29px;
    padding-left:20px;
   

}
.cont{
    padding-left:20px;
    margin-bottom:15px;
    font-size:large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards{
    margin:15px;
    display:flex;
    justify-content: center;
    gap:30px;
    width:100%;
}

.card1:hover{
    
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
    
   
}

.card1{
    border-radius: 5px;
    border:  1px solid rgb(195, 193, 193);
    background-color:white;
    display: flex;
   
}
.card1:hover{
    box-shadow: 10px 5px 10px #888888;
   
}
.ca1{
    flex:1;
}

.world{
    padding-left: 10px;
    padding-top:80px;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
}
.design{
    
    padding:10px;
    padding-top:80px;
    color:rgba(8, 224, 44, 0.894);
    font-family:Arial, Helvetica, sans-serif;


}

.featured{
    font-weight: 600;
    padding-left:10px;
    font-size:xx-large;
    padding-top:15px;
    padding-bottom:20px;
    font-family:'Montserrat', sans-serif;
}

.date{
    margin-top: 15px;
    margin-bottom:5px;
    padding-left:10px;
    font-size:small;
    color: rgb(118, 119, 119);
}
.para{
    padding-top: 8px;
    padding-left:10px;
    font-size:medium;
    padding-bottom:10px;
    justify-content: start;
}
.clr{
    color: green;
}

.thumbnail{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(147, 147, 147);
    background-image: url(hello4.jpeg);
    background-size: cover;
    object-fit: cover;
    
    color:white;
    flex:1;
    justify-content: center;
    text-align:center;
    align-items: center;
    

}
.cnt{
    color:blue;
    padding-left: 10px;
    padding-bottom: 40px;
}
a{
    color:blue
}
.bold{
    font-weight: 700;
}
.hero{
    display: flex;
   
}
.right{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.left{
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex: 3;
   
}
.Title-sub{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 700;
    padding-top: 20px;
    padding: 20px;
   


}
.nn{
    padding: 0;
}
.Title-main{
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
    font-weight:bold;
    font-style:italic;
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 15px;
    

}



.about *{

    background-color:rgba(117, 115, 115, 0.127);
    padding: 15px;
    margin-right: 15px;
}


ul{

    margin-left: 20px;
    margin-right: 5px;
    
}


.nav-bar ul a{
    color:#888888;
}


.container{
    max-width:2000px;
    margin-left:auto;
    margin-right:auto;
}
.link1:hover{
TEXT-DECORATION: underline;
color:black;
    
}
.nav-bar ul a:hover{
   text-decoration:underline;
}
